.calendar-app {
  width: 60%;
  min-width: 90vmin;
  aspect-ratio: 3 / 2;
  background-color: #1e242d;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #0f1319;
  display: flex;
  column-gap: 5rem;
  position: relative;
  transform-style: preserve-3d;
}
.calendar-app::after {
  content: '';
  position: absolute;
  bottom: -13rem;
  left: 50%;
  transform: translateX(-50%) rotatex(50deg);
  width: 90%;
  height: 16rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20rem;
  filter: blur(4rem);
}
.calendar {
  width: 40%;
}
.header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem);
}
